body{

    margin: 0;

}

.gradient{

    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #42a189,#0f4596);
    background-size: 300% 300%;
    animation: colors 40s ease infinite;
    width: 100%;
    height: 657px;

}

.content {

    display: flex;
    flex-direction: column;
    align-items: initial;

}

.visible input[type = checkbox]{

    display: none;

}

.visible input[type = checkbox] + label {
    
    background-image: url(/img/fechado.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 0 0 0 0px;

}

.visible input[type = checkbox]:checked + label{

    background-image: url(/img/aberto.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 0 0 0 0px;

}

.container{

    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;

}

.box a{

    color: #1d5ec0 ;
    text-decoration: none;

}

.box a:focus{

    color: white;

}

.container input{

    width: 80%;
    margin: 15px auto;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, 0.639);
    transition: all 150ms ease-in-out;

}

.container button{

    border: none;
    border-radius: 8px;
    width: 70%;
    padding: 8px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #1d5ec0;
    cursor: pointer;
    
}

.container button:hover{

    box-shadow: 0 0 40px 40px #3a79d8 inset, 0 0 0 0 #3a79d8;

}
.container input:hover{

    box-shadow: 0 0 5px 0 #1d5ec0 inset, 0 0 5px 4px #1d5ec0;

}

.box {
    
    width: 400px;
    height: 540px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsla(0, 0%, 100%, 0.639);
    border-radius: 5%;
    box-shadow: 13px 9px 20px 0 rgb(0 0 0 / 40%), 0 5px 5px 0 rgb(0 0 0 / 24%);

}

.visible {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.visible label {

    margin-bottom: 10%;

}

@keyframes colors {

    0%{
        background-position: 0% 50%; 
    }
    50%{
        background-position: 100% 50%;  
    }
    100%{
        background-position: 0% 50%;
    }
}